#master-card-list{
    max-width: 90%;
    margin: 0 auto;
}
.project-card{
    display: block;
    max-width: 80%;
    border: 2px solid black;
    margin: 2%;
    text-align: center;
}
.user-card{
    display: block;
    max-width: 30%;
    border: 2px solid black;
    margin: 2%;
    text-align: center;
}
.task-card-list{
    max-width: 80%;
    margin: 0 auto;
}
.task-card{
    max-width: 40%;
    border: 2px solid black;
    margin: 2%;
    text-align: center;
}
.inline-block{
    display: inline-block;
    min-width: 20%;
}
.smaller-font{
    font-size: .75em;
}
